header {
    text-align: center;
    padding-top: 30px;
}

.info-display {
    height: 200px;
}

.col-4 {
    height: 200px;
    border-style: solid;
    border-width: 2px;
}

.chat-display {
    border-style: solid;
    border-width: 2px;
}

.chat-box {
    height: 200px;
    overflow: scroll;
}